@model App.ViewModels.Client.Customer.CustomerForgotPasswordViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Ice Cream - Reset Password</h2>
    <p>Please click this <a href="@Model.Url">link</a> to reset your password!</p>
    <p>This token will be invalid after 15 minutes</p>
</body>
</html>
